@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #f4faf3;
}
header{
  background: url('/public/world/monde.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s ;
  transform: scale(1);
}
.card:hover{
  transform: scale(1.05);
}
.footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #fff;
}
.container{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.footer .container .sec h2{
  position: relative;
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer .container .sec p{
  color: #555;
}
.footer .container .quicklinks{
  position: relative;
}
.footer .container .quicklinks ul li{
  list-style: none;
}
.footer .container .quicklinks ul li a{
  text-decoration: none;
  color: #555;
  margin-bottom: 10px;
  display: inline-block;
}
.footer .container .contact .info{
  position: relative;
}
.footer .container .contact .info li{
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
.footer .container .contact .info li span{
  color: #555;
  font-size: 20px;
  gap: 10px;
}
.footer .container .contact .info li a{
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
.copyrightText{
  width: 100%;
  background: #fff;
  padding: 20px 100px 30px;
  text-align: center;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.2);
}