.Navigation{
  width: 10%;
}
.Navigation ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Navigation ul li {
  list-style: none;
}
.Navigation ul a {
  text-decoration: none;
  color: rgba(26, 72, 210, 0.811);
}
.nav-active{
  border: 1px solid rgba(26, 72, 210, 0.811);
  padding: 5px;
  border-radius: 6px;
}
.logo{
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.811);
  align-self:center;
  position: relative;
  left: 50%;
}
.logo h3{
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
.logo img{
  width: 40px;
  height: 40px;
}
.countries-container{
  width: 90vw;
  height: 80vh;
  position: relative;
  top: 100px;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.countries-container ul{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card{
  list-style: none;
  width: 300px;
  height: 200px;
  margin: 5px;
  background: rgba(255, 255, 255);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card img{
  width: 300px;
  height: 200px;
}
.card .infos{
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 0);
  position: relative;
}
.card :hover
{
  background: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
}